{% extends "base.html.jinja" %}
{% set active_page = nav %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-lg">
    <div class="row border">
        <div class="col pl-4">
            <img src="{{ poke.sprites.front_default }}" alt="{{ poke.name }}">
        </div>
        <div class="col-11 pt-4">
            <span class="align-middle"><h3>{{ poke.id }} - {{ poke.name }}</h3></span>
        </div>
    </div>
    <div class="row">
        <div class="col bg-danger">
            <div class="pl-4 h5">Types:</div>
            {% for poke_type in poke.types %}
                <div class="pl-4 h6">
                > {{ poke_type.type.name }}
                </div>
            {% endfor %}
        </div>
        <div class="col-11 bg-success"></div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}